* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b0c4de;
}
.lesson-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  border-radius: 2rem;
  background-color: #4b61d1;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
}
